ConsoleApplication1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2240/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService_Sport" />
  <xs:element name="GetAllEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService_Sport" minOccurs="0" name="GetAllEventsResult" nillable="true" type="q1:ArrayOfEvents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService_Sport" minOccurs="0" name="events" nillable="true" type="q2:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService_Sport" minOccurs="0" name="GetResultsResult" nillable="true" type="q3:ArrayOfResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService_Sport" minOccurs="0" name="events" nillable="true" type="q4:Events" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEventsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>