ConsoleApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2240/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2240/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2240/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService_Sport" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetAllEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllEventsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResults" />
  </wsdl:message>
  <wsdl:message name="IService1_GetResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEvents" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetAllEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllEvents" message="tns:IService1_GetAllEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllEventsResponse" message="tns:IService1_GetAllEvents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetResults" message="tns:IService1_GetResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetResultsResponse" message="tns:IService1_GetResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertEvents" message="tns:IService1_InsertEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertEventsResponse" message="tns:IService1_InsertEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap:operation soapAction="http://tempuri.org/IService1/GetResults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEvents">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:2240/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>